modules:
  - name: softhsm
    module: MODULE_PATH
    slots: 
    - slot: SoftHSMLabel
      pinfile: secrets/someslot-000.pin

ca:
  ca: pki/ca.crt
  crl: pki/crl.pem
tls:
  certificate: pki/issued/hsmservice.crt
  key: pki/private/hsmservice.key
