modules:
#  - name: yubikey
#    module: hsm.so
#    slots: 
#    - slot: HSM-001
#      pinfile: secrets/yubikey-001.pin
#    - slot: HSM-002
#      pinfile: secrets/yubikey-002.pin
#    - slot: HSM-003
#      pinfile: secrets/yubikey-003.pin
#  - name: utimaco
#    module: utimaco.so
#    slots: 
#    - slot: HSM-001
#      pinfile: secrets/yubikey-001.pin
#    - slot: HSM-002
#      pinfile: secrets/yubikey-002.pin
#    - slot: HSM-003
#      pinfile: secrets/yubikey-003.pin
  - name: softhsm
    module: /usr/lib/softhsm/libsofthsm2.so
    slots: 
    - slot: SoftHSMLabel
      pinfile: secrets/someslot-000.pin
#  - name: softhsm
#    module: /usr/lib64/pkcs11/libsofthsm2.so
#    slots: 
#    - slot: HSM-000
#      pinfile: secrets/softhsm-000.pin
#    - slot: HSM-001
#      pinfile: secrets/softhsm-001.pin
#  - name: yubikey
#    module: /usr/lib64/libykcs11.so.2.2.0
#    slots:
#    - slot: "YubiKey PIV #9986290"
#      pinfile: secrets/yubikey.pin

ca:
  ca: clients/ca.pem
  crl: clients/crl.pem

